<div class="Promotional">
    Promotional<br><br>
    <div class="promotionalpicture">
        <img src='img/onsale.jpg' alt="onsale">
    </div>
</div>
<br>
<div class="Category">    
    Category<br><br>
    <div class="CategoryPicture">
        <a href="/products/Adventure">
            <img src='/img/Adventure.jpeg' alt="Advertrue">
            <p>Advertrue</p>
        </a>
    </div>
    <div class="CategoryPicture">
        <a href="/products/Party">
            <img src='/img/party.jpg' alt="Party">
            <p>Party</p>
        </a>
    </div>
    <div class="CategoryPicture">
        <a href="/products/Racing">
            <img src='/img/racing.jpg' alt="Racing">
            <p>Racing</p>
        </a>
    </div>
    <div class="CategoryPicture">
        <a href="/products/Sports">
            <img src='/img/sport.jpg' alt="Sport">
            <p>Sport</p>
        </a>
    </div>
</div>
<br>
<div class="BestSeller">
    Best Seller<br><br>
    {{#each data}}
        <div class="BestSellerPicture">
            <a href="/products/{{this.id}}">
                <img src="/uploads/{{productPic}}" alt="{{this.Name}}" >
            </a>
        </div>
    {{/each}}    
    
</div>