<div class="Promotional">
    Promotional<br><br>
    <div class="promotionalpicture">
        <img src='img/onsale.jpg' alt="onsale">
    </div>
</div>
<br>
<div class="Category">    
    Category<br><br>
    <div class="CategoryPicture">
        <img src='/img/Adventure.jpeg' alt="Advertrue">
        <p>Advertrue</p>
    </div>
    <div class="CategoryPicture">
        <img src='/img/party.jpg' alt="Party">
        <p>Party</p>
    </div>
    <div class="CategoryPicture">
        <img src='/img/racing.jpg' alt="Racing">
        <p>Racing</p>
    </div>
    <div class="CategoryPicture">
        <img src='/img/sport.jpg' alt="Sport">
        <p>Sport</p>
    </div>
</div>
<br>
<div class="BestSeller">
    Best Seller<br><br>
    <div class="BestSellerPicture">
        <img src='/img/0.png' alt="Advertrue">        
    </div>
    <div class="BestSellerPicture">
        <img src='/img/1.png' alt="Party">        
    </div>
    <div class="BestSellerPicture">
        <img src='/img/3.png' alt="Racing">        
    </div>
    <div class="BestSellerPicture">
        <img src='/img/9.png' alt="Sport">        
    </div>
</div>