
<!--This will only show if the successMessage was injected into the view -->
<div>{{successMessage}}</div>
    <form action="/registration" method="POST"> <!--CHANGE GET TO POST -->

        <label for="fullName">Full Name: </label>
        <input type="text" id="fullName" name="fullName"> <br><br>        

        <label for="email">Email: </label>
        <input type="email" id="email" name="email"> <br><br>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password"> <br><br>

        <label for="password2">Password again: </label>
        <input type="password" id="password2" name="password2"> <br><br>
        
<!-- Will only show if the errors array exists-->
{{#each errors}}
    <div >{{this}}</div>
{{/each}}       

        <input type="submit" value="Create your account">

    </form>

</section>