<!-- Will only show if the errors array exists-->


<!--This will only show if the successMessage was injected into the view -->
<div>{{successMessage}}</div>
    <form action="/users/login" method="POST">
        <h2>{{headingInfo}}</h2>

        <label for="email">Email: </label>
        <input type="email" id="email" name="email" value={{email}}> <br><br>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password"> <br><br>       
{{#each errors}}
    <div >{{this}}</div>
{{/each}}
        
        <input type="submit" value="Login" class="place"><br>
        <a href="/users/forgotPassword" id="ForgotPassword">Forgot Password?</a>
    </form>
    

</section>