<section class="products">
    <div id='Category'>
        Advertrue <br>
        Party <br>
        Racing <br>
        Sport <br>
    </div>
    {{#each products}}
        <div class="allproducts">
            <img src={{this.img}} alt="" width="100" height="140">
            <br>
            <p>
                {{this.Name}}
            </p>            
            <p id="price">
                CDN$ {{this.Price}}
            </p>
            <p>
                Released Date is {{this.ReleasedDate}}
            </p>
        </div>
    {{/each}}
</section>